body {
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #040105, #5f5d5e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #868388, #a59fa3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#contentWrap {
    display: none;
}